
/* Base */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* -----------------------------------------------------------
                            Header
----------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 19px;
    margin: 30px 50px;
}

header nav {
    display: flex;
    column-gap: 68px;
    padding: 0 42px;
}

header nav a {
    padding-top: 16px;
}

header nav a:hover {
    border-top: solid 2px #0065FC;
    padding-top: 14px;
    color: #0065FC;
}

@media screen and (max-width: 768px) {
    header {
        justify-content: unset;
        flex-direction: column;
    }
    
    header .logo {
        margin: 30px auto;
    }
    
    header nav {
        width: 100%;
        column-gap: 0;
        padding: 0;
    }
    
    header nav a {
        width: 50%;
        text-align: center;
        padding-top: unset;
        padding-bottom: 17px;
    }
    
    header nav a:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;   

        padding-top: unset;
        padding-bottom: 17px;
    }
}

/* -----------------------------------------------------------
                            Main
----------------------------------------------------------- */

main {
    display: flex;
    row-gap: 35px;
    flex-direction: column;
}

/* Interface */

.interface {
    display: flex;
    row-gap: 35px;
    flex-direction: column;
    margin: 0 50px;
}

.interface h1 {
    font-size: 22px;
}

.interface h1 span {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 8px;
}

.search-bar {
    width: 377px;
    height: 49px;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.search-bar i {
    width: 50px;
    height: 100%;  
    font-size: 18px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.search-bar input {
    width: 195px;
    height: 100%;  
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    border: solid 2px #F2F2F2;
}

.search-bar button {
    width: 132px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0065FC;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.search-bar button i {
    display: none;
}

.filter,
.filter .container {
    row-gap: 20px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.filter span {
    font-weight: 700;
    font-size: 18px;
}

.filter button {
    height: 50px;
    display: flex;
    column-gap: 10px;
    align-items: center;

    padding: 0 19px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;

    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
}

.filter button:hover,
.filter button:focus {
    background-color: #DEEBFF;
}

.filter button i {
    width: 22px;
    height: 22px;

    color: #0065FC;
    font-size: 22px;
    font-size: 500;
}

.filter button:first-child i {
    font-size: 20px;
}

.information {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.information i {
    width: 24px;
    height: 24px;
    min-width: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #0065FC;
    border: solid 1px #D9D9D9;
    border-radius: 12px;
    font-size: 10px;
}

@media screen and (max-width: 1024px) {
    .filter {
        align-items: unset;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .interface {
        margin: 0 20px;
    }

    .search-bar {
        width: unset;
    }

    .search-bar input {
        width: calc(100% - 50px);
    }
    
    .search-bar button {
        width: 49px;
        border-radius: 15px;
        position: absolute;
        right: 0;
    }

    .search-bar button span {
        display: none;
    }

    .search-bar button i {
        background-color: transparent;
        color: white;
        display: flex;
    }

    .filter .container {
        flex-wrap: wrap;
    }

    .filter .container button {
        width: calc(50% - 8px);
        white-space: nowrap;
    }
}

.container-section {
    display: flex;
    padding: 0 50px;
    column-gap: 40px;
}

/* Hebergement */

.hebergement,
.popular {
    display: flex;
    row-gap: 30px;
    align-items: start;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
}

.hebergement {
    width: 66%;
}

.hebergement h2 {
    font-size: 22px;
    font-weight: 700;
}

.hebergement .container-card {
    width: 100%;
    row-gap: 30px;
    display:  flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.hebergement .container-card .card {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    width: calc(33% - 18px);    
    background-color: white;
    box-shadow: 0 2px 8px #D9D9D999;
    padding-bottom: 13px;
    border-radius: 20px;
    overflow: hidden;
    transition: .2s;
}

.hebergement .container-card .card:hover {
    transform: scale(1.05);
}

.hebergement .card .container-img {
    width: 100%;
    height: 124px;
    border: solid 5px white;
}

.hebergement .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hebergement .container-descrip {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    padding: 0 15px;
}

.hebergement .container-descrip h3 {
    font-size: 1rem;
}

.hebergement .container-descrip p {
    font-size: 14px;
}

.hebergement .container-descrip .rating {
    display: flex;
}

.hebergement .btn-more {
    font-size: 18px;
    font-weight: 700;
}

/* Popular */

.popular {
    width: 33%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.popular h2 {
    width: 100%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular h2 .fas {
    color: #0065FC;
}

.popular .container-card {
    width: 100%;
    height: 100%;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.popular .container-card .card {
    width: 100%;
    height: 33%;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    transition: .2s;
}

.popular .container-card .card:hover {
    transform: scale(1.05);
}

.popular .card .container-img {
    width: 33%;
    height: 100%;
    border: solid 5px white;
}

.popular .container-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popular .container-descrip {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px 5px 10px;
}

.popular .container-descrip h3 {
    font-size: 1rem;
}

.popular .container-descrip p {
    font-size: 14px;    
    font-weight: 400;
    padding-top: 5px;
}

.popular .container-descrip .rating {
    margin-bottom: 5px;
    display: flex;
}

.rating .fa-star {
    color: #0065FC;
    font-size: 13px;
}

.rating .grey {
    color: #F2F2F2;
}

@media screen and (max-width: 1024px) {
    .container-section {
        flex-direction: column;
        row-gap: 50px;
    }

    .hebergement {
        width: 100%;
    }
    
    .popular {
        width: 100%;        
    }

    .popular .container-card {
        flex-direction: row;
        column-gap: 20px;
    }

    .popular .container-card .card {
        width: 33%;
        height: 146px;
    }
}

@media screen and (max-width: 768px) {
    .container-section {
        flex-direction: column-reverse;
        padding: unset;
        row-gap: 15px;
    }

    .popular {
        row-gap: 15px;
        border-radius: unset;
        padding: 30px 20px;
    }

    .popular h2 i {
        font-size: 1rem;
    }

    .popular .container-card {
        flex-direction: column;
        row-gap: 15px;
    }

    .popular .container-card .card {
        width: 100%;
        height: 146px;
    }

    .hebergement {
        row-gap: 15px;
        padding: 20px;
        border-radius: unset;
        background-color: white;
    }

    .hebergement .container-card {
        flex-direction: column;
        row-gap: 15px;
    }

    .hebergement .container-card .card {
        width: 100%;
        box-shadow: 0 2px 8px #00000020;
    }
}

/* Activity */

.activity {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    padding: 30px;
    margin: 0 50px;
}

.activity .container-activity {
    width: 100%;
    display: flex;
    column-gap: 30px;
}

.activity .container-activity .card {
    width: calc(25% - 15px); 
    box-shadow: 0 2px 8px #00000020; 
    border-radius: 20px;  
    overflow: hidden;
}

.activity .card .container-img {
    height: 380px;
}

.activity .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity .card h3 {
    padding: 20px 19px;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .activity .card .container-img {
        height: 200px;
    }
    
    .activity .card h3 {
        display: flex;
        font-size: 16px;
        padding: 16px 19px;
        align-items: center;
        height: calc(100% - 200px);
    }
}

@media screen and (max-width: 768px) {
    .activity {
        margin: unset;
    }
    
    .activity .container-activity {        
        flex-direction: column;
        row-gap: 15px;
    }
    
    .activity .container-activity .card {
        width: 100%; 
    }
    
    .activity .card .container-img {
        height: 141px;
    }
    
    .activity .card h3 {
        padding: 20px 19px;
    }
}

/* -----------------------------------------------------------
                            Footer
----------------------------------------------------------- */

footer {
    display: flex;
    margin: 5px 50px 0;
    background-color: #F2F2F2;
}

footer ul {
    width: 33%;
    display: flex;
    padding: 20px;
    row-gap: 15px;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        margin: 5px 0 0;
    }
    
    footer ul {
        width: 100%;
        padding: 30px;
    }
}